<div class="record" (clickEvent)="handleClick(record?.id)" clickEmitter>
    <div class="record-pic">
        <i class="bi bi-person-circle"></i>
    </div>
    <div class="record-content">
        <div class="record-header">
            <div class="record-name">
                {{record?.firstName + " " + (record?.lastName === '-' ? '' : record?.lastName) }}
            </div>
        </div>
        <div style="display: flex; justify-content: space-between; gap: 50px;">
            <div class="record-main">
                <div class="record-email">{{"Email:" | translate }}
                    <span class="record-value">
                        {{record?.email}}
                    </span>
                </div>
                <div class="record-phone">{{"Phone number:" | translate }}
                    <span class="record-value">
                        {{record?.phone ?? '-'}}
                    </span>
                </div>
                <div class="record-role">{{"Role:" | translate }}
                    <span class="record-value"
                    [class.candidate]="record?.role?.name === 'CANDIDATE'"
                    [class.admin]="record?.role?.name === 'ADMIN'"
                    [class.sailor]="record?.role?.name === 'SAILOR'"
                    [class.mat]="record?.role?.name === 'MAT'"
                    [class.bosman]="record?.role?.name === 'BOSMAN'"
                    [class.deactivated]="record?.role?.name === 'DEACTIVATED'"
                    >
                        {{record?.role?.name ?? '-' | translate}}
                    </span>
                </div>
            </div>
            <div class="record-main">
                <div class="record-club-status">{{"Club status:" | translate }}
                    <span class="record-value">
                        {{ record?.clubStatus ?? '-' | translate }}
                    </span>
                </div>
                <div class="record-sailing-license">{{"Sailing licence:" | translate }}
                    <span class="record-value">
                        {{ record?.sailingLicense?.name ?? '-' | translate }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>