.sail-primary-button {
    background-color: #0040E4;
    color: white;
    border-radius: $spacer-20;

    &:hover, .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
        background-color: #0040E4;
        color: white;
    }
    font-family: Inter;
    font-size: $spacer-14;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sail-secondary-button {
    border: solid $spacer-1 #D9D9D9;
    background-color: white;
    border-radius: $spacer-20;
    display: flex;
    align-items: center;
    gap: $spacer-4;

    &:hover, .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
        border: solid $spacer-1 #D9D9D9;
    }

    font-family: Inter;
    font-size: $spacer-14;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sail-icon-button {
    background-color: #717171;
    color: white;
    border-radius: 50%;
    width: $spacer-28;
    height: $spacer-28;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover, .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
        background-color: #717171;
        color: white;
    }
    font-family: Inter;
    font-size: $spacer-16;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sail-dialog-button {
    background-color: #0040E4;
    color: white;
    border-radius: $spacer-20;

    &:hover, .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
        background-color: #0040E4;
        color: white;
    }
    font-family: Inter;
    font-size: $spacer-18;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sail-secondary-dialog-button {
    background-color: #717171;
    color: white;
    border-radius: $spacer-20;

    &:hover, .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
        background-color: #717171;
        color: white;
    }
    font-family: Inter;
    font-size: $spacer-18;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.user-button {
    background-color: #0040E4;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: $spacer-14;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: $spacer-35;
    height: $spacer-35;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover, .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
        background-color: #0040E4;
        color: white;
    }
}

.default-form-link {
    color: #FF7E59;
    font-family: Inter;
    font-size: $spacer-14;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.default-form-label {
    color: #000;
    font-family: Inter;
    font-size: $spacer-18;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.my-modify {
    font-family: Inter;
    font-size: $spacer-18;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}