@import '../../../../../styles/abstracts/spacing';
:host {
    .yachts {
        &-background-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: url('../../../../../assets/backgrounds/pexels-szelei-robert-1482193.jpg') no-repeat;
            background-color: aqua;
            background-size: cover;
        }

        &-page {
            display: flex;
            flex-direction: column;
            padding: $spacer-40 $spacer-50;
            gap: $spacer-10;
        }

        &-main-container {
            display: flex;
            width: 100%;
            gap: $spacer-30;
            justify-content: space-between;
            height: fit-content;
            height: calc(100vh - $spacer-200);
        }

        &-container {
            flex: 1;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: $spacer-10;
            display: flex;
            flex-direction: column;
            gap: $spacer-15;
            padding: $spacer-10;
        }

        &-modify {
            flex: 0;
            background-color: white;
            border-radius: $spacer-10;
            padding: $spacer-15;
            display: flex;
            flex-direction: column;
            gap: $spacer-10;
            .form-control {
                width: $spacer-200;
            }
            .item {
                display: flex;
                flex-direction: column;
                gap: $spacer-5;
            }

            .section{
                display: flex;
                flex-direction: column;
            }

            .dropdown-opt {
                display: flex;
                justify-content: space-between;
                gap: $spacer-8;
            }

            .search {
                display: flex;
                flex-direction: row;
                gap: $spacer-5;
            }

            .search-clear {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                background-color: lightsteelblue;
                border-radius:  $spacer-0 $spacer-6 $spacer-6 $spacer-0;
            }

            .input-container {
                position: relative;
                display: inline-block;
            }

            .input-group {
                width: $spacer-250;
            }
              
        }

        &-pagination {
            color: #000;
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: $spacer-14;

            flex: 0;
            align-self: center;
            margin-top: auto;
            display: flex;
            align-items: center;
            gap: $spacer-32;
        }

        &-page-sizes {
            display: flex;
            align-items: center;
            gap: $spacer-16;
        }

        &-results {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: $spacer-8;
            overflow-y: auto;
        }

        &-subheader {
            display: flex;
            align-items: center;
            gap: $spacer-30;

            .subheader-icon {
                color: #FFF;
                font-size: $spacer-30;
            }
        }

        &-form {
            display: flex;
            flex-direction: column;
            gap: $spacer-10;
            padding: $spacer-10 $spacer-3 $spacer-0 $spacer-1;
            

            .form-item {
                display: flex;
                flex-direction: column;
                padding: 0 $spacer-50;
                gap: $spacer-10;
            }

            input.ng-touched.ng-invalid {
                border-color: red;
            }

            .error-message {
                color: #F00;
                font-family: Inter;
                font-size: $spacer-14;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }  
        }

        .dropdown-toggle {
            background-color: #0040E4;
            border-color: #0040E4;
        }
    }
}

.form-button {
    float: right;
}

.my-subheader {
    color: #FFF;
    font-family: Inter;
    font-size: $spacer-25;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}


ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #0040E4 !important;
    border-color: #0040E4 !important;
}

.form-label {
    color: #000;
    font-family: Inter;
    font-size: $spacer-14;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-label, .form-select, .form-control {
    font-family: Inter;
    font-size: $spacer-14;
    font-style: normal;
    line-height: normal;
}

.section::-webkit-scrollbar {
    width: $spacer-3;
  }
  
  .section::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  .section::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: $spacer-10; /* Rounded corners */
  }
  
  .section::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hovered thumb color */
  }

.align-center {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-space-between {
    flex-direction: row;
    justify-content: space-between;
}

.pagination-height {
    height: $spacer-38;
}

.pagination-width {
    width: $spacer-60;
}

.search-width {
    width: $spacer-250 !important;
}

.sort-section {
    padding-bottom: $spacer-10;
    border-bottom: solid $spacer-1 #717171;
}

.filter-section {
    flex: 1;
    overflow-y: auto;
}

.float-right {
    float: right;
}

.margin-left-auto {
    margin-left: auto;
}

.manage-list-header {
    flex-direction: row !important;
    gap: $spacer-10;
    justify-content: space-between;
    align-items: center;
}

.no-results {
    align-self: center;
    margin-bottom: $spacer-10;
}

@media (max-width: 600px) {
    .yachts-modify {
      display: none !important;
    }
}