<div class="modal-header">
    <h4 class="modal-title">{{"Reserve yacht" | translate}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form class="add-yacht-form" [formGroup]="addReservationForm">
        <div class="form-row">
            <label for="inputPickup" class="add-yacht-form-label">{{ 'Pick up date' | translate }}</label>
            <div class="input-group" id="inputPickup">
                <input
                    class="form-control"
                    placeholder="dd-mm-yyyy"
                    [minDate]="getCurrentDate()"
                    ngbDatepicker
                    #di="ngbDatepicker"
                    required
                    formControlName="pickupDate"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="di.toggle()" type="button"></button>
            </div>
            <div *ngIf="formControls['pickupDate'].invalid && (formControls['pickupDate'].dirty || formControls['pickupDate'].touched)">
                <div *ngIf="formControls['pickupDate'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="pickupTime" class="add-yacht-form-label">{{ 'Approx. pick up time' | translate }}</label>
            <select
                class="form-select"
                id="pickupTime"
                formControlName="pickupTime"
                required
            >
                <option *ngFor="let time of pickupTimes" [value]="time">
                    {{ time | timeFormat }}
                </option>
            </select>
            <div *ngIf="formControls['pickupTime'].invalid && (formControls['pickupTime'].dirty || formControls['pickupTime'].touched)">
                <div *ngIf="formControls['pickupTime'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="dropoffDate" class="add-yacht-form-label">{{ 'Drop off date' | translate }}</label>
            <div class="input-group" id="dropoffDate">
                <input
                    class="form-control"
                    placeholder="dd-mm-yyyy"
                    name="dp"
                    [minDate]="getMinDate()"
                    ngbDatepicker
                    #dp="ngbDatepicker"
                    formControlName="dropoffDate"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
            </div>
            <div *ngIf="formControls['dropoffDate'].invalid && (formControls['dropoffDate'].dirty || formControls['dropoffDate'].touched)">
                <div *ngIf="formControls['dropoffDate'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="dropoffTime" class="add-yacht-form-label">{{ 'Approx. drop off time' | translate }}</label>
            <select
                class="form-select"
                id="dropoffTime"
                formControlName="dropoffTime"
                required
            >
                <option *ngFor="let time of dropoffTimes" [value]="time">{{ time | timeFormat }}</option>
            </select>
            <div *ngIf="formControls['dropoffTime'].invalid && (formControls['dropoffTime'].dirty || formControls['dropoffTime'].touched)">
                <div *ngIf="formControls['dropoffTime'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="peopleNumber" class="form-label">{{ 'Number of people' | translate }}</label>
            <select
                class="form-select"
                id="peopleNumber"
                formControlName="peopleNumber"
                required
            >
                <option *ngFor="let number of numOfPeople" [value]="number">{{ number ?? '-' }}</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer" *ngIf="userInfo$ | async as userInfo">
    <button [disabled]="addReservationForm.invalid || loading" type="submit" class="btn sail-dialog-button btn-lg form-button" (click)="reserveYacht(userInfo.id)">{{"Reserve" | translate}}</button>
</div>