:host {
    .app-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        padding: 5px 20px;
        &-options {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .left-header {
            display: flex;
            align-items: center;
            gap: 8px;

            .btn {
                border: none;
            }

            .header-icon {
                font-size: 25px;
            }
        }

        .navbar-brand {
            color: #000;
            font-family: Gelasio;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        
        .dropdown-toggle::after {
            display: none;
        }

        .align-center {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .language-list {
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .option-list {
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .selected-language {
            font-weight: 700;
        }
    }
}