<div class="modal-header">
    <h4 class="modal-title">{{"Add user" | translate}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form class="add-user-form" [formGroup]="addUserForm">
        <div class="form-row">
            <label for="firstName" class="add-user-form-label">{{ 'First name' | translate }}</label>
            <input maxlength="255" type="text" class="form-control" id="firstName" autocomplete="name" required formControlName="firstName">
            <div *ngIf="formControls['firstName'].invalid && (formControls['firstName'].dirty || formControls['firstName'].touched)">
                <div *ngIf="formControls['firstName'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="lastName" class="add-user-form-label">{{ 'Last name' | translate }}</label>
            <input maxlength="255" type="text" class="form-control" id="lastName" autocomplete="name" required formControlName="lastName">
            <div *ngIf="formControls['lastName'].invalid && (formControls['lastName'].dirty || formControls['lastName'].touched)">
                <div *ngIf="formControls['lastName'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
            </div>
        </div>
        <div class="form-row" *ngIf="userRoles$ | async as userRoles">
            <label for="role" class="add-user-form-label">{{ 'Role' | translate }}</label>
            <select
                class="form-select"
                id="role"
                required
                formControlName="role"
            >
                <option *ngFor="let role of userRoles" [value]="role?.id">
                    {{ role?.name ?? '-' | translate }}
                </option>
            </select>
            <div *ngIf="formControls['role'].invalid && (formControls['role'].dirty || formControls['role'].touched)">
                <div *ngIf="formControls['role'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="clubStatus" class="add-user-form-label">{{ 'Club status' | translate }}</label>
            <input maxlength="255" type="text" class="form-control" id="clubStatus" formControlName="clubStatus">
        </div>
        <div class="form-row" *ngIf="sailingLicenses$ | async as sailingLicenses">
            <label for="sailingLicense" class="add-user-form-label">{{ 'Sailing qualifications' | translate }}</label>
            <select
                class="form-select"
                id="sailingLicense"
                required
                formControlName="sailingLicense"
            >
                <option *ngFor="let sailingLicense of sailingLicenses" [value]="sailingLicense.id">
                    {{ sailingLicense.name | translate }}
                </option>
                <option disabled *ngIf="sailingLicenses.length === 0">
                    {{ 'There are no sailing licences'  | translate }}
                </option>
            </select>
            <div *ngIf="formControls['sailingLicense'].invalid && (formControls['sailingLicense'].dirty || formControls['sailingLicense'].touched)">
                <div *ngIf="formControls['sailingLicense'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="email" class="add-user-form-label">{{ 'Email' | translate }}</label>
            <input maxlength="255" type="email" class="form-control" id="email" autocomplete="email" required formControlName="email">
            <div *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)">
                <div *ngIf="formControls['email'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
                <div *ngIf="formControls['email'].errors?.['email']">
                    <label class="error-message"> {{'Invalid email format' | translate}} </label>
                </div>
                <div *ngIf="formControls['email'].errors?.['repeatedEmail']">
                    <label class="error-message"> {{'Email already in use' | translate}} </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="password" class="add-user-form-label">{{ 'Password' | translate }}</label>
            <input maxlength="255" type="password" class="form-control" id="password" autocomplete="new-password" required formControlName="password">
            <div *ngIf="formControls['password'].invalid && (formControls['password'].dirty || formControls['password'].touched)">
                <div *ngIf="formControls['password'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
                <div *ngIf="formControls['password'].errors?.['pattern']">
                    <label class="error-message"> {{'Password should contain at least: 8 characters, one uppercase letter, one lowercase letter, one number and one of the following special characters: @$!%*?&' | translate }} </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="repeatPassword" class="add-user-form-label">{{ 'Repeat password' | translate }}</label>
            <input maxlength="255" type="password" class="form-control" id="repeatPassword" autocomplete="new-password" required formControlName="repeatPassword">
            <div *ngIf="formControls['repeatPassword'].invalid && (formControls['repeatPassword'].dirty || formControls['repeatPassword'].touched)">
                <div *ngIf="formControls['repeatPassword'].errors?.['required']">
                    <label class="error-message"> {{'This field is required' | translate}} </label>
                </div>
                <div *ngIf="formControls['repeatPassword'].errors?.['wrongRepeatPassword']">
                    <label class="error-message"> {{'Passwords are different' | translate}} </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button [disabled]="addUserForm.invalid || loading" type="submit" class="btn sail-dialog-button btn-lg form-button" (click)="addUser()">
        {{"Add" | translate}}
        <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
            <span class="sr-only"></span>
        </div>
    </button>
</div>