<div class="reservations">
    <div class="reservations-background-image"></div>
    <div class="reservations-page">
        <div class="reservations-subheader">
            <i class="bi bi-arrow-left-circle-fill subheader-icon" (click)="location.back()"></i>
            <p class="my-subheader">
                {{ 'All reservations' | translate }}
            </p>
        </div>
        <div class="reservations-main-container">
            <div class="reservations-container" [hidden]="viewCalendar" *ngIf="reservationList$ | async as reservationList">
                <div class="reservations-results">
                    <div *ngFor="let record of reservationList.data">
                        <app-reservation-record
                            [record]="record">
                        </app-reservation-record>
                    </div>
                    <span class="my-modify" *ngIf="reservationList.totalCount===0" style="align-self: center; margin-top: auto; margin-bottom: auto;">
                        {{ 'There are no reservations' | translate}}
                    </span>
                </div>
                <div class="reservations-pagination" *ngIf="paging$ | async as paging">
                    <ngb-pagination class="ngb-pagination" style="height: 38px" [collectionSize]="reservationList.totalCount*10/paging.pageSize" (pageChange)="pageChange($event, paging.pageSize)"/>
                    <div class="reservations-page-sizes">
                        <span> {{ "Page size:" | translate }}</span>
                        <div ngbDropdown data-toggle="dropdown">
                            <button style="width: 60px;" type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
                                {{paging.pageSize}}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem
                                *ngFor="let pageSize of pageSizes" (click)="pageSizeChange(pageSize)">
                                    {{pageSize}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reservations-container" *ngIf="viewCalendar">
                <div *ngIf="reservationCalendar$ | async as reservationCalendar">
                    <div class="calendar-buttons">
                        <button
                        class="btn sail-secondary-button btn-md"
                        mwlCalendarPreviousView
                        [(viewDate)]="viewDate"
                        [view]="'week'">
                            <i class="bi bi-arrow-left"></i>
                        </button>
                        <form [formGroup]="viewCalendarForm">
                            <div class="input-group" id="inputPickup">
                                <input
                                    class="form-control"
                                    placeholder="dd-mm-yyyy"
                                    ngbDatepicker
                                    #di="ngbDatepicker"
                                    formControlName="viewCalendarDate"
                                />
                                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="di.toggle()" type="button"></button>
                            </div>
                        </form>
                        <button
                        class="btn sail-secondary-button btn-md"
                        mwlCalendarNextView
                        [(viewDate)]="viewDate"
                        [view]="'week'">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    </div>
                    <mwl-calendar-week-view
                    [viewDate]="viewDate"
                    [weekStartsOn]="1"
                    [dayStartHour]="4"
                    [dayEndHour]="22"
                    [hourSegments]="1"
                    [events]="reservationCalendar"
                    (eventClicked)="handleClick($event.event.meta)">
                    </mwl-calendar-week-view>
                </div>
            </div>
            <div class="reservations-modify">
                <div class="section" style="flex-direction: row; gap: 10px; justify-content: space-between; align-items: center;">
                    <span class="my-modify" *ngIf="!viewCalendar; else calendar"> {{"Manage list" | translate }}</span>
                    <ng-template #calendar>
                        <span class="my-modify"> {{"Manage calendar" | translate }}</span>
                    </ng-template>
                    <button class="btn sail-icon-button" (click)="openAddReservationDialog()">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
                <div class="section">
                    <form [formGroup]="searchForm" class="search">
                        <div class="input-container">
                            <input formControlName="value" type="text" class="form-control" style="width: 250px" placeholder="{{'Search' | translate}}" (input)="filter()">
                            <button [hidden]="searchForm.invalid" class="btn sail-icon-button search-clear" (click)="clearSearch()">
                                <i class="bi bi-x"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="section-row" style="padding-bottom: 10px; border-bottom: solid 1px #717171;">
                    <div class="section" *ngIf="!viewCalendar">
                        <div ngbDropdown data-toggle="dropdown" *ngIf="sort$ | async as sort"  style="display: flex; justify-content: center;">
                            <button type="button" class="btn sail-primary-button btn-md" id="dropdownBasic1" ngbDropdownToggle>
                                {{"Sort" | translate}}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="dropdown-opt" ngbDropdownItem (click)="sortChange(undefined)">
                                    -
                                    <i class="bi bi-check" [hidden]="sort.dir !== undefined"></i>
                                </button>
                                <button class="dropdown-opt" ngbDropdownItem (click)="sortChange('asc')">
                                    A - Z
                                    <i class="bi bi-check" [hidden]="sort.dir !== 'asc'"></i>
                                </button>
                                <button class="dropdown-opt" ngbDropdownItem (click)="sortChange('desc')">
                                    Z - A
                                    <i class="bi bi-check" [hidden]="sort.dir !== 'desc'"></i>
                                </button>
                                <button class="dropdown-opt" ngbDropdownItem (click)="sortChange('closest')">
                                    {{ "Closest" | translate}}
                                    <i class="bi bi-check" [hidden]="sort.dir !== 'closest'"></i>
                                </button>
                                <button class="dropdown-opt" ngbDropdownItem (click)="sortChange('furthest')">
                                    {{ "Furthest" | translate}}
                                    <i class="bi bi-check" [hidden]="sort.dir !== 'furthest'"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div ngbDropdown data-toggle="dropdown" style="display: flex; justify-content: center;">
                            <button type="button" class="btn sail-primary-button btn-md" id="dropdownBasic1" ngbDropdownToggle>
                                {{"View" | translate}}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem (click)="viewCalendar=false">
                                    {{ "List" | translate}}
                                </button>
                                <button ngbDropdownItem (click)="viewCalendar=true">
                                    {{ "Calendar" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="reservations-form-link" style="margin-left: auto;" (click)="clearFilters()">
                    {{ "Clear filters" | translate }}
                </span>
                <div class="section" *ngIf="filters$ | async as filters" style="flex: 1; overflow-y: auto;">
                    <form class="reservations-form" [formGroup]="filtersForm">
                        <div class="section" style="flex-direction: row; justify-content: space-between;">
                            <label for="cancelled" class="form-label">{{ 'Show cancelled' | translate }}</label>
                            <input type="checkbox" class="form-check-input" id="cancelled" formControlName="showCancelled">
                        </div>
                        <div class="section" style="flex-direction: row; justify-content: space-between;">
                            <label for="rejected" class="form-label">{{ 'Show rejected' | translate }}</label>
                            <input type="checkbox" class="form-check-input" id="rejected" formControlName="showRejected">
                        </div>
                        <div class="section" *ngIf="yachts$ | async as yachts">
                            <label for="status" class="form-label">{{ 'Yacht' | translate }}</label>
                            <select
                                class="form-select"
                                id="yacht"
                                formControlName="yacht"
                            >
                                <option *ngFor="let yacht of yachts" [value]="yacht?.id ?? null">
                                    {{ yacht?.name ?? '-' | translate }}
                                </option>
                            </select>
                        </div>
                        <div class="section" *ngIf="clubMembers$ | async as clubMembers">
                            <label for="clubMember" class="form-label">{{ 'Club member' | translate }}</label>
                            <select
                                class="form-select"
                                id="clubMember"
                                formControlName="clubMember"
                            >
                                <option *ngFor="let clubMember of clubMembers" [value]="clubMember?.name ?? null">
                                    {{ clubMember?.name ?? '-' | translate }}
                                </option>
                            </select>
                        </div>
                        <div class="section" *ngIf="reservingUsers$ | async as reservingUsers">
                            <label for="reservingUser" class="form-label">{{ 'Reserving person' | translate }}</label>
                            <select
                                class="form-select"
                                id="reservingUser"
                                formControlName="reservingUser"
                            >
                                <option *ngFor="let reservingUser of reservingUsers" [value]="reservingUser?.name ?? null">
                                    {{ reservingUser?.name ?? '-' | translate }}
                                </option>
                            </select>
                        </div>
                        <div class="section" *ngIf="reservationStatuses$ | async as reservationStatuses">
                            <label for="status" class="form-label">{{ 'Status' | translate }}</label>
                            <select
                                class="form-select"
                                id="status"
                                formControlName="status"
                            >
                                <option *ngFor="let status of reservationStatuses" [value]="status?.id">
                                    {{ status?.name ?? '-' | translate }}
                                </option>
                            </select>
                        </div>
                        <div class="section">
                            <label for="inputPickup" class="form-label">{{ 'Pick up date after' | translate }}</label>
                            <div class="input-group" id="inputPickup">
                                <input
                                    class="form-control"
                                    placeholder="dd-mm-yyyy"
                                    [minDate]="getPickupMinDate()"
                                    ngbDatepicker
                                    #di="ngbDatepicker"
                                    formControlName="inputPickup"
                                />
                                <button class="btn btn-outline-secondary bi bi-calendar3 btn-sm" (click)="di.toggle()" type="button"></button>
                            </div>
                        </div>
                        <div class="section">
                            <label for="inputPickupTime" class="form-label">{{ 'Approx. pick up time' | translate }}</label>
                            <select
                                class="form-select"
                                id="inputPickupTime"
                                formControlName="inputPickupTime"
                            >
                                <option *ngFor="let time of pickupTimes" [value]="time">
                                    {{ time | timeFormat }}
                                </option>
                            </select>
                        </div>
                        <div class="section">
                            <label for="inputDropoff" class="form-label">{{ 'Drop off date before' | translate }}</label>
                            <div class="input-group" id="inputDropoff">
                                <input
                                    class="form-control"
                                    placeholder="dd-mm-yyyy"
                                    name="dp"
                                    [minDate]="getMinDate()"
                                    ngbDatepicker
                                    #dp="ngbDatepicker"
                                    formControlName="inputDropoff"
                                />
                                <button class="btn btn-outline-secondary bi bi-calendar3 btn-sm" (click)="dp.toggle()" type="button"></button>
                            </div>
                            <div *ngIf="formControls['inputDropoff'].invalid && (formControls['inputDropoff'].dirty || formControls['inputDropoff'].touched)">
                                <div *ngIf="formControls['inputDropoff'].errors">
                                    <label class="error-message"> {{'Incorrect date' | translate}} </label>
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <label for="inputDropoffTime" class="form-label">{{ 'Approx. drop off time' | translate }}</label>
                            <select
                                class="form-select"
                                id="inputDropoffTime"
                                formControlName="inputDropoffTime"
                            >
                                <option *ngFor="let time of dropoffTimes" [value]="time">{{ time | timeFormat }}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="form-buttons">
                    <button (click)="filter()" [disabled]="filtersForm.invalid" type="submit" class="btn sail-primary-button btn-md form-button">{{ 'Filter' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>