@import '../../../../../styles/abstracts/spacing';
:host {
    .reservations {        
        &-background-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: url('../../../../../assets/backgrounds/nature-2608800_1280.jpg') no-repeat;
            background-color: aqua;
            background-size: cover;
        }

        &-page {
            display: flex;
            flex-direction: column;
            padding: $spacer-40 $spacer-50;
            gap: $spacer-10;
        }

        &-main-container {
            display: flex;
            width: 100%;
            gap: $spacer-30;
            justify-content: space-between;
            height: calc(100vh - $spacer-200);
        }

        &-container {
            flex: 1;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: $spacer-10;
            display: flex;
            flex-direction: column;
            gap: $spacer-15;
            padding: $spacer-10;
        }

        &-modify {
            flex: 0;
            background-color: white;
            border-radius: $spacer-10;
            padding: $spacer-15;
            display: flex;
            flex-direction: column;
            gap: $spacer-10;
            .form-control {
                width: $spacer-200;
            }
            .item {
                display: flex;
                flex-direction: column;
                gap: $spacer-5;
            }
            .section{
                display: flex;
                flex-direction: column;
            }
            .section-row {
                display: flex;
                align-items: flex-end;
                gap: $spacer-10;
                .section {
                    flex: 1;
                }

            }
            .dropdown-opt {
                display: flex;
                justify-content: space-between;
                gap: $spacer-8;
            }
            .search {
                display: flex;
                flex-direction: row;
                gap: $spacer-5;
            }
            .input-container {
                position: relative;
                display: inline-block;
            }
            .input-group {
                width: $spacer-250;
            }
        }

        &-page-sizes {
            display: flex;
            align-items: center;
            gap: $spacer-16;
        }

        &-results {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: $spacer-8;
            overflow-y: auto;
        }

        &-subheader {
            display: flex;
            align-items: center;
            gap: $spacer-30;
        }

        &-form {
            display: flex;
            flex-direction: column;
            padding: $spacer-10 $spacer-3 $spacer-0 $spacer-1;

            gap: $spacer-10;

            .form-item {
                display: flex;
                flex-direction: column;
                padding: 0 $spacer-50;
                gap: $spacer-10;
            }
        }
    }
}

  @media (max-width: 600px) {
    .reservations-modify {
      display: none !important;
    }
}