<div class="bg-light app-navbar">
    <div class="left-header">
      <div ngbDropdown placement="bottom-start" data-toggle="dropdown">
        <button type="button" class="btn sail-secondary-button btn-sm transparent" ngbDropdownToggle>
          <span class="navbar-brand">{{ 'Silesian Yacht Club' | translate }}</span>
        </button>
        <div ngbDropdownMenu>
          <a ngbDropdownItem class="align-center option-list" *ngFor="let option of arrayOptions" [routerLink]="[option.path]">
            <i class="bi" [className]="option.icon" ></i>
            {{ option.text | translate }}
          </a>
        </div>
      </div>
    </div>
    <div class="app-navbar-options">  
      <div ngbDropdown placement="bottom-end" data-toggle="dropdown">
        <button type="button" class="btn sail-secondary-button btn-sm" ngbDropdownToggle>
          <img src="../../../../assets/flags/{{currentLang}}.svg" alt="{{currentLang}} icon" aria-label="icons" />
          {{currentLang | uppercase}}
        </button>
        <div ngbDropdownMenu>
          <a ngbDropdownItem  class="align-center language-list" [class.selected-language]="language === currentLang"
             *ngFor="let language of arrayLanguage" (click)="changeLanguage(language)">
             <img src="../../../../assets/flags/{{language}}.svg" alt="{{language}} icon" aria-label="icons" />
            {{ language | translate }}
          </a>
        </div>
      </div>
    </div>
</div>
    