@import '../../../../../styles/abstracts/spacing';
:host {
    .reservation-details {
        &-background-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: url('../../../../../assets/backgrounds/nature-2608800_1280.jpg') no-repeat;
            background-color: aqua;
            background-size: cover;
        }

        &-page {
            display: flex;
            flex-direction: column;
            padding: $spacer-40 $spacer-50 0 $spacer-50;
            gap: $spacer-10;
        }

        &-main-container {
            align-self: center;
            display: flex;
            width: 70%;
            gap: $spacer-15;
            padding: $spacer-10;
            min-height: calc(100vh - $spacer-200);
            background-color: white;
            border-radius: $spacer-10;
        }

        &-subheader {
            display: flex;
            align-items: center;
            gap: $spacer-30;

            .subheader-icon {
                color: #FFF;
                font-size: $spacer-30;
            }
        }

        .calendar-buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacer-10;
        }

        .record {   
            &-options {
                display: flex;
                gap: $spacer-10;
                align-items: center;
                height: fit-content;
            }
            
            &-pic {
                width: $spacer-200;
                height: $spacer-200;
                border: solid $spacer-1 black;
                border-radius: $spacer-10;
                position: relative;
                overflow: hidden;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $spacer-10;
                }
            }
    
            &-name {
                color: #000;
                font-family: Inter;
                font-size: $spacer-25;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
    
            &-main {
                color: #000;
                font-family: Inter;
                font-size: $spacer-18;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
    
                display: flex;
                flex-direction: column;
                gap: $spacer-20;
                width: 100%;
            
            }
    
            &-value {
                color: #717171;
                font-family: Inter;
                font-size: $spacer-18;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                &-error {
                    color: red;
                    font-size: $spacer-14;
                }
            }

            &-warning {
                color: red;
            }
    
            &-content {
                display: flex;
                flex-direction: column;
                gap: $spacer-50;
                flex: 1;
                margin-left: $spacer-30;
                width: 70%;
                
            }

            &-links {
                display: flex;
                flex-direction: column;
                margin: $spacer-20 $spacer-5;
                gap: $spacer-10;
                color: #FF7E59;
                font-family: Inter;
                font-size: $spacer-16;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
            }

            &-header {
                align-items: center;
                display: flex;
                justify-content: space-between;
                gap: $spacer-16;
            }
            &-calendar {
                flex: 1;
                padding: 0 $spacer-30;
            }
        }
        .confirmed {
            color: green;
        }

        .rejected {
            color: red;
        }

        .pending {
            color: orange;
        }

        .new {
            color: green;
        }
        .opened {
            color: orange;
        }

        .reported-notice-record {
            border: solid $spacer-1 #717171;
            border-radius: $spacer-10;
            padding: $spacer-5;
            margin-top: $spacer-5;
            width: fit-content;
            cursor: pointer;

            &:hover, &:focus {
                background-color: lighten(#717171, 50%);;
            }
        }
    }
}

.my-subheader {
    color: #FFF;
    font-family: Inter;
    font-size: $spacer-25;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.reservation-details-form-title {
    color: #000;
    font-family: Inter;
    font-size: $spacer-18;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: $spacer-8;
}

.border-radius-6 {
    border-radius: $spacer-6;
}

.align-items-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .record-pic {
        width: $spacer-80 !important;
        height: $spacer-80 !important;
    }
    .reservation-details-main-container {
        width: 80% !important;
        gap: $spacer-8 !important;
    }
}