<div class="recover-password">
    <div class="recover-password-background-image"></div>
    <div class="recover-password-page">
        <div class="recover-password-subheader">
            <i class="bi bi-arrow-left-circle-fill subheader-icon" (click)="location.back()"></i>
            <p class="my-subheader">
                {{ 'Recover password' | translate }}
            </p>
        </div>
        <div class="recover-password-container">
            <form class="recover-password-form" [formGroup]="recoverPasswordForm" (submit)="recoverPassword()">
                <div class="form-row" *ngIf="!codeSent; else enterCode">
                    <div class="recover-password-message">
                        {{'After clicking the button, a token to create a new password will be sent to the provided e-mail address.' | translate}}
                    </div>
                    <label for="email" class="recover-password-form-label">{{ 'Email' | translate }}</label>
                    <input type="email" class="form-control" id="email" autocomplete="email" required formControlName="email">
                    <div *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)">
                        <div *ngIf="formControls['email'].errors?.['required']">
                            <label class="error-message"> {{'This field is required' | translate}} </label>
                        </div>
                        <div *ngIf="formControls['email'].errors?.['email']">
                            <label class="error-message"> {{'Invalid email format' | translate}} </label>
                        </div>
                        <div *ngIf="formControls['email'].errors?.['wrongEmail']">
                            <label class="error-message"> {{'Invalid email or token already sent' | translate}} </label>
                        </div>
                        <div *ngIf="formControls['email'].errors?.['userNotEnabled']">
                            <label class="error-message"> {{'User not activated' | translate}} </label>
                        </div>
                    </div>
                    <div class="form-links">
                        <button [disabled]="recoverPasswordForm.invalid || loading" type="submit" class="btn sail-primary-button btn-md form-button">{{ 'Send' | translate }}</button>
                        <a class="recover-password-link" (click)="codeSent=true"> {{'Already have a token?' | translate}}</a>
                    </div>
                </div>
            </form>
            <ng-template #enterCode>
                <form class="recover-password-form" [formGroup]="resetPasswordForm" (submit)="resetPassword()">
                    <div class="form-row">
                        <label for="resetToken" class="recover-password-form-label">{{ 'Received token' | translate }}</label>
                        <input type="text" class="form-control" id="resetToken" required formControlName="resetToken">
                        <div *ngIf="resetFormControls['resetToken'].invalid && (resetFormControls['resetToken'].dirty || resetFormControls['resetToken'].touched)">
                            <div *ngIf="resetFormControls['resetToken'].errors?.['required']">
                                <label class="error-message"> {{'This field is required' | translate}} </label>
                            </div>
                            <div *ngIf="resetFormControls['resetToken'].errors?.['wrongToken']">
                                <label class="error-message"> {{'Wrong token' | translate}} </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="newPassword" class="recover-password-form-label">{{ 'New password' | translate }}</label>
                        <input type="password" class="form-control" id="newPassword" required formControlName="newPassword">
                        <div *ngIf="resetFormControls['newPassword'].invalid && (resetFormControls['newPassword'].dirty || resetFormControls['newPassword'].touched)">
                            <div *ngIf="resetFormControls['newPassword'].errors?.['required']">
                                <label class="error-message"> {{'This field is required' | translate}} </label>
                            </div>
                            <div *ngIf="resetFormControls['newPassword'].errors?.['pattern']">
                                <label class="error-message"> {{'Password should contain at least: 8 characters, one uppercase letter, one lowercase letter, one number and one of the following special characters: @$!%*?&' | translate }} </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="repeatNewPassword" class="recover-password-form-label">{{ 'Repeat new password' | translate }}</label>
                        <input type="password" class="form-control" id="repeatNewPassword" required formControlName="repeatNewPassword">
                        <div *ngIf="resetFormControls['repeatNewPassword'].invalid && (resetFormControls['repeatNewPassword'].dirty || resetFormControls['repeatNewPassword'].touched)">
                            <div *ngIf="resetFormControls['repeatNewPassword'].errors?.['required']">
                                <label class="error-message"> {{'This field is required' | translate}} </label>
                            </div>
                            <div *ngIf="resetFormControls['repeatNewPassword'].errors?.['wrongRepeatPassword']">
                                <label class="error-message"> {{'Passwords are different' | translate}} </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-links">
                        <button type="submit" [disabled]="resetPasswordForm.invalid || loading" class="btn sail-primary-button btn-md form-button">{{ 'Save' | translate }}</button>
                        <a class="recover-password-link" (click)="codeSent=false"> {{'Need a token?' | translate}}</a>
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</div>