<div class="recover-password">
    <div class="recover-password-background-image"></div>
    <div class="recover-password-page">
        <div class="recover-password-subheader">
            <i class="bi bi-arrow-left-circle-fill subheader-icon" [routerLink]="['/']"></i>
            <p class="my-subheader">
                {{ 'Recover password' | translate }}
            </p>
        </div>
        <div class="recover-password-container">
            <form class="recover-password-form">
                <!-- <div class="recover-password-message">
                    {{'After clicking the button, a link to create a new password will be sent to the provided e-mail address.' | translate}}
                </div> -->
                <div class="form-row" *ngIf="!codeSent; else enterCode">
                    <label for="email" class="recover-password-form-label">{{ 'Email' | translate }}</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <button type="submit" class="btn sail-primary-button btn-md form-button" (click)="codeSent=true">{{ 'Wyślij' | translate }}</button>
                </div>
                <ng-template #enterCode>
                    <div class="form-row" *ngIf="!codeApproved; else enterPasswords">
                        <label for="code" class="recover-password-form-label">{{ 'Received code' | translate }}</label>
                        <input type="text" class="form-control" id="code" name="code">
                        <button type="submit" class="btn sail-primary-button btn-md form-button" (click)="codeApproved=true">{{ 'Submit' | translate }}</button>
                    </div>
                    <ng-template #enterPasswords>
                        <div class="form-row">
                            <label for="password" class="recover-password-form-label">{{ 'Password' | translate }}</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-row">
                            <label for="repeatPassword" class="recover-password-form-label">{{ 'Repeat password' | translate }}</label>
                            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword">
                        </div>
                        <div class="form-buttons">
                            <button type="submit" class="btn sail-primary-button btn-md form-button" [routerLink]="['/auth/login']">{{ 'Save' | translate }}</button>
                        </div>
                    </ng-template>
                </ng-template>
            </form>
        </div>
    </div>
</div>