:host {
    .app-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        &-options {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        
        .dropdown-toggle::after {
            display: none;
        }
    }
}