<div class="yacht-details">
    <div class="yacht-details-background-image"></div>
    <div class="yacht-details-page">
        <div class="yacht-details-subheader">
            <i class="bi bi-arrow-left-circle-fill subheader-icon" (click)="location.back()"></i>
            <p class="my-subheader">
                {{ 'Yacht details' | translate }}
            </p>
        </div>
        <div class="yacht-details-main-container" *ngIf="yacht$ | async as yacht">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div class="record-pic">
                    <img [src]="yacht?.photo">
                </div>
                <div class="record-links">
                    <a (click)="goToYachtNotices(yacht.id)">{{"Reported notices" | translate}}</a>
                    <a *ngIf="yacht.currentStatus.name !== 'DEACTIVATED'" (click)="changeYachtStatus(yacht)">{{"Change status" | translate}}</a>
                    <a (click)="showHistoryStatuses(yacht.id)">{{"History of statuses" | translate}}</a>
                </div>
            </div>
            <div class="record-content">
                <div class="record-header">
                    <div class="record-name">
                        {{yacht?.name ?? 'none' | translate}}
                    </div>
                    <div class="record-options" *ngIf="yacht.currentStatus.name !== 'DEACTIVATED'">
                        <button class="btn sail-icon-button" (click)="editYacht(yacht)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn sail-icon-button" (click)="deactivateYacht(yacht.id)">
                            <i class="bi bi-trash"></i>
                        </button>
                        <div>
                            <button class="btn sail-primary-button btn-lg" style="border-radius: 6px;" (click)="reserveYacht(yacht.id)">
                                {{'Reserve yacht' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="record-main">
                    <div class="yacht-details-form-title" (click)="isCollapsed=!isCollapsed">
                        {{"General information" | translate}}
                        <i class="bi" [class.bi-chevron-up]="!isCollapsed" [class.bi-chevron-down]="isCollapsed"></i>
                    </div>
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" style="width: 100%">
                        <div class="record-type">{{"Type:" | translate }}
                            <span class="record-value">
                                {{yacht?.type?.name ?? 'none' | translate}}
                            </span>
                        </div>
                        <div class="record-registration">{{"Registration number:" | translate }}
                            <span class="record-value">
                                {{yacht?.registrationNumber ?? 'none' | translate}}
                            </span>
                        </div>
                        <div class="record-status">{{"Current status:" | translate }}
                            <span class="record-value"
                             [class.available]="yacht?.currentStatus?.name === 'AVAILABLE'"
                             [class.reserved]="yacht?.currentStatus?.name === 'RESERVED_LONG_TERM'"
                             [class.in-repair]="yacht?.currentStatus?.name === 'IN_REPAIR'"
                             [class.malfunction]="yacht?.currentStatus?.name === 'MALFUNCTION'"
                             [class.in-use]="yacht?.currentStatus?.name === 'IN_USE'"
                             >
                                {{yacht?.currentStatus?.name ?? 'none' | translate}}
                            </span>
                        </div>
                        <div class="record-description" style="width: 100%">{{"Description:" | translate }}
                            <div class="record-description-value">
                                {{yacht?.description ?? 'none' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="yacht-details-form-title" (click)="isCollapsed2=!isCollapsed2">
                        {{"Technical data" | translate}}
                        <i class="bi" [class.bi-chevron-up]="!isCollapsed2" [class.bi-chevron-down]="isCollapsed2"></i>
                    </div>
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
                        <div class="record-length">{{"Length:" | translate }}
                            <span class="record-value">
                                {{ yacht?.technicalData?.length ?? '-' }}
                            </span>
                        </div>
                        <div class="record-width">{{"Width:" | translate }}
                            <span class="record-value">
                                {{ yacht?.technicalData?.width ?? '-' }}
                            </span>
                        </div>
                        <div class="record-immersion">{{"Immersion:" | translate }}
                            <span class="record-value">
                                {{ yacht?.technicalData?.immersion ?? '-' }}
                            </span>
                        </div>
                        <div class="record-sail-area">{{"Sail area:" | translate }}
                            <span class="record-value">
                                {{ yacht?.technicalData?.sailArea ?? '-' }}
                            </span>
                        </div>
                        <div class="record-cabinNum">{{"Cabin number:" | translate }}
                            <span class="record-value">
                                {{ yacht?.technicalData?.cabinNumber ?? '-' }}
                            </span>
                        </div>
                        <div class="record-cabinNum">{{"Max. people:" | translate }}
                            <span class="record-value">
                                {{ yacht?.technicalData?.maxPeople ?? '-'}}
                            </span>
                        </div>
                    </div>
                    <div class="yacht-details-form-title" (click)="isCollapsed3=!isCollapsed3">
                        {{"Equipment" | translate}}
                        <i class="bi" [class.bi-chevron-up]="!isCollapsed3" [class.bi-chevron-down]="isCollapsed3"></i>
                    </div>
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed3">
                        <ng-template #crossValue>
                            <span class="record-value">
                                <i class="bi bi-x"></i>
                            </span>
                        </ng-template>
                        <div class="record-microwave">{{"Microwave:" | translate }}
                            <span class="record-value" *ngIf="yacht?.equipment?.microwave; else crossValue">
                                <i class="bi bi-check"></i>
                            </span>
                        </div>
                        <div class="record-radio">{{"Radio:" | translate }}
                            <span class="record-value" *ngIf="yacht?.equipment?.radio; else crossValue">
                                <i class="bi bi-check"></i>
                            </span>
                        </div>
                        <div class="record-shower">{{"Shower:" | translate }}
                            <span class="record-value" *ngIf="yacht?.equipment?.shower; else crossValue">
                                <i class="bi bi-check"></i>
                            </span>
                        </div>
                        <div class="record-wc">{{"WC:" | translate }}
                            <span class="record-value" *ngIf="yacht?.equipment?.wc; else crossValue">
                                <i class="bi bi-check"></i>
                            </span>
                        </div>
                    </div>
                    <div class="yacht-details-form-title" (click)="isCollapsed4=!isCollapsed4">
                        {{"Prices" | translate}}
                        <i class="bi" [class.bi-chevron-up]="!isCollapsed4" [class.bi-chevron-down]="isCollapsed4"></i>
                    </div>
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed4">
                        <div class="record-daily-price">{{"Daily price:" | translate }}
                            <span class="record-value">
                                {{ yacht?.dailyPrice ? yacht?.dailyPrice + 'zł' : '-' }}
                            </span>
                        </div>
                        <div class="record-hourly-price">{{"Hourly price:" | translate }}
                            <span class="record-value">
                                {{ yacht?.hourlyPrice ? yacht?.hourlyPrice + 'zł' : '-' }}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="reservationCalendar$ | async as reservationCalendar">
                        <div class="yacht-details-form-title" style="margin-bottom: 20px;" (click)="isCollapsed5=!isCollapsed5">
                            {{"Reservations" | translate}}
                            <i class="bi" [class.bi-chevron-up]="!isCollapsed5" [class.bi-chevron-down]="isCollapsed5"></i>
                        </div>
                        <div class="record-calendar" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed5">
                            <div class="calendar-buttons">
                                <button
                                class="btn sail-secondary-button btn-md"
                                mwlCalendarPreviousView
                                [(viewDate)]="viewDate"
                                [view]="'week'">
                                    <i class="bi bi-arrow-left"></i>
                                </button>
                                <form [formGroup]="viewCalendarForm">
                                    <div class="input-group" id="inputPickup">
                                        <input
                                            class="form-control"
                                            placeholder="dd-mm-yyyy"
                                            ngbDatepicker
                                            #di="ngbDatepicker"
                                            formControlName="viewCalendarDate"
                                        />
                                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="di.toggle()" type="button"></button>
                                    </div>
                                </form>
                                <button
                                class="btn sail-secondary-button btn-md"
                                mwlCalendarNextView
                                [(viewDate)]="viewDate"
                                [view]="'week'">
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <mwl-calendar-week-view
                            [viewDate]="viewDate"
                            [weekStartsOn]="1"
                            [dayStartHour]="4"
                            [dayEndHour]="22"
                            [hourSegments]="1"
                            [events]="reservationCalendar"
                            (eventClicked)="handleClick($event.event.meta)">
                            </mwl-calendar-week-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>