@import '../../../../styles/abstracts/spacing';
:host {
    .yacht-details {
        &-background-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: url('../../../../assets/backgrounds/pexels-szelei-robert-1482193.jpg') no-repeat;
            background-color: aqua;
            background-size: cover;
        }

        &-page {
            display: flex;
            flex-direction: column;
            padding: $spacer-40 $spacer-50 0 $spacer-50;
            gap: $spacer-10;
        }

        &-main-container {
            align-self: center;
            display: flex;
            width: 70%;
            gap: $spacer-15;
            padding: $spacer-10;
            min-height: calc(100vh - $spacer-200);
            background-color: white;
            border-radius: $spacer-10;
        }

        &-subheader {
            display: flex;
            align-items: center;
            gap: $spacer-30;
        }

        .record {   
            &-options {
                display: flex;
                gap: $spacer-10;
                align-items: center;
                height: fit-content;
            }
            &-pic {
                width: $spacer-200;
                height: $spacer-200;
                border: solid $spacer-1 black;
                border-radius: $spacer-10;
                position: relative;
                overflow: hidden;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $spacer-10;
                }
            }
    
            &-name {
                color: #000;
                font-family: Inter;
                font-size: $spacer-25;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
    
            &-main {
                color: #000;
                font-family: Inter;
                font-size: $spacer-18;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
    
                display: flex;
                flex-direction: column;
                gap: $spacer-20;
                width: 100%;
            
            }
    
            &-value {
                color: #717171;
                font-family: Inter;
                font-size: $spacer-18;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
    
            &-content {
                display: flex;
                flex-direction: column;
                gap: $spacer-50;
                flex: 1;
                margin-left: $spacer-30;
                width: 70%;
            }

            &-header {
                align-items: center;
                display: flex;
                justify-content: space-between;
                gap: $spacer-16;
            }
            &-calendar {
                flex: 1;
                padding: 0 $spacer-30;
            }
        }
    }
}


.yacht-details-form-title {
    color: #000;
    font-family: Inter;
    font-size: $spacer-18;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: $spacer-8;
}

@media (max-width: 600px) {
    .record-pic {
        width: $spacer-80 !important;
        height: $spacer-80 !important;
    }
    .yacht-details-main-container {
        width: 80% !important;
        gap: $spacer-8 !important;
    }
}