@import '../../../../../styles/abstracts/spacing';
:host {
    .my-account {
        margin-top: - $spacer-30;
        &-background-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: url('../../../../../assets/backgrounds/sailing-4945855_1280.jpg') no-repeat;
            background-color: aqua;
            background-size: cover;
        }

        &-page {
            margin-top: $spacer-50;
            display: flex;
            flex-direction: column;
            gap: $spacer-10;
            padding: $spacer-20 $spacer-50;
        }

        &-subheader {
            display: flex;
            align-items: center;
            gap: $spacer-30;

            .subheader-icon {
                color: #FFF;
                font-size: $spacer-30;
            }
        }

        &-container {
            background-color: #FFF;
            border-radius: $spacer-10;
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: $spacer-32;
            padding: $spacer-20;
            align-self: center;

            &-header {
                display: flex;
                justify-content: center;
                .avatar-edit {
                    position: relative;
                    display: inline-block;
                    .avatar {
                        width: $spacer-50;
                        height: $spacer-50;
                        font-size: $spacer-20;
                    }
                    .edit-button {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        transform: translate(55%, 35%);
                    }
                    .edit {
                        background-color: #FFF;
                        padding: $spacer-5;
                        font-size: $spacer-16;
                        line-height: $spacer-16;
                        border-radius: 50%;
                    }
                }
            }
        }

        &-message {
            width: $spacer-500;
            color: #717171;
            font-family: Inter;
            font-size: $spacer-18;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;
        }

        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacer-40;

            .form-span {
                color: #717171;
                font-family: Inter;
                font-size: $spacer-18;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .form-row {
                display: flex;
                flex-direction: column;
                gap: $spacer-10;
                width: $spacer-500;
            }

            .form-buttons {
                display: flex;
                width: fit-content;
                align-self: center;
                gap: $spacer-25;
            }

            .form-button {
                width: fit-content;
                padding-right: $spacer-30;
                padding-left: $spacer-30;
                font-size: $spacer-16;
                margin-left: auto;
            }
            
            input.ng-touched.ng-invalid {
                border-color: red;
            }

            .error-message {
                color: #F00;
                font-family: Inter;
                font-size: $spacer-16;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

        }
    }
}

.my-subheader {
    color: #FFF;
    font-family: Inter;
    font-size: $spacer-25;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.my-account-form-label {
    color: #000;
    font-family: Inter;
    font-size: $spacer-18;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.my-account-form-link {
    color: #FF7E59;
    font-family: Inter;
    font-size: $spacer-14;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.my-account-form-text {
    color: #000;
    font-family: Inter;
    font-size: $spacer-14;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

@media (max-width: 600px) {
    .my-account-container {
        padding: $spacer-10 !important;
    }

    .my-account-form {
        gap: $spacer-30 !important;

        .form-row {
            width: $spacer-320 !important;
        }

        .form-buttons {
            gap: $spacer-16 !important;
        }

        .form-links {
            gap: $spacer-8 !important;
        }
    }
}
