@import '../../../../styles/abstracts/spacing';
:host {
    .notice-details {
        &-background-image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: url('../../../../assets/backgrounds/pexels-sergio-souza-2858643.jpg') no-repeat;
            background-color: aqua;
            background-size: cover;
        }

        &-page {
            display: flex;
            flex-direction: column;
            padding: $spacer-40 $spacer-50 0 $spacer-50;
            gap: $spacer-10;
        }

        &-main-container {
            align-self: center;
            display: flex;
            width: 70%;
            gap: $spacer-15;
            padding: $spacer-10;
            min-height: calc(100vh - $spacer-200);
            height: fit-content;
            background-color: white;
            border-radius: $spacer-10;
        }

        &-subheader {
            display: flex;
            align-items: center;
            gap: $spacer-30;
        }

        .record {   
            &-options {
                display: flex;
                gap: $spacer-10;
                align-items: center;
                height: fit-content;
            }
            
            &-pic {
                display: flex;
                align-items: center;
                justify-content: center;
                width: $spacer-100;
                height: $spacer-100;
                i {
                    font-size: $spacer-80;
                }
            }
    
            &-name {
                color: #000;
                font-family: Inter;
                font-size: $spacer-25;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
    
            &-main {
                color: #000;
                font-family: Inter;
                font-size: $spacer-18;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
    
                display: flex;
                flex-direction: column;
                gap: $spacer-20;
                width: 100%;
            
            }
    
            &-value {
                color: #717171;
                font-family: Inter;
                font-size: $spacer-18;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
    
            &-content {
                display: flex;
                flex-direction: column;
                gap: $spacer-50;
                flex: 1;
                margin-left: $spacer-30;
                width: 70%;
                
            }

            &-links {
                display: flex;
                flex-direction: column;
                margin: $spacer-20 $spacer-5;
                gap: $spacer-10;
                color: #FF7E59;
                font-family: Inter;
                font-size: $spacer-16;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
            }

            &-header {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
            &-calendar {
                flex: 1;
                padding: 0 $spacer-30;
            }
        }
    }
}
