<div class="register">
    <div class="register-background-image"></div>
    <div class="register-page">
        <div class="register-subheader">
            <i class="bi bi-arrow-left-circle-fill subheader-icon" (click)="location.back()"></i>
            <p class="my-subheader">
                {{ 'Create account' | translate }}
            </p>
        </div>
        <div class="register-container">
            <form class="register-form" [formGroup]="registerForm" (submit)="register()">
                <div class="form-row">
                    <label for="firstName" class="register-form-label">{{ 'First name' | translate }}</label>
                    <input type="text" class="form-control" id="firstName" autocomplete="name" required formControlName="firstName">
                    <div *ngIf="formControls['firstName'].invalid && (formControls['firstName'].dirty || formControls['firstName'].touched)">
                        <div *ngIf="formControls['firstName'].errors?.['required']">
                            <label class="error-message"> {{'This field is required' | translate}} </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="lastName" class="register-form-label">{{ 'Last name' | translate }}</label>
                    <input type="text" class="form-control" id="lastName" autocomplete="name" required formControlName="lastName">
                    <div *ngIf="formControls['lastName'].invalid && (formControls['lastName'].dirty || formControls['lastName'].touched)">
                        <div *ngIf="formControls['lastName'].errors?.['required']">
                            <label class="error-message"> {{'This field is required' | translate}} </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="clubStatus" class="register-form-label">{{ 'Club status' | translate }}</label>
                    <input type="text" class="form-control" id="clubStatus" formControlName="clubStatus">
                </div>
                <div class="form-row" *ngIf="sailingLicenses$ | async as sailingLicenses">
                    <label for="sailingLicense" class="register-form-label">{{ 'Sailing qualifications' | translate }}</label>
                    <select
                        class="form-select"
                        id="sailingLicense"
                        required
                        formControlName="sailingLicense"
                    >
                        <option *ngFor="let sailingLicense of sailingLicenses" [value]="sailingLicense.id">
                            {{ sailingLicense.name | translate }}
                        </option>
                        <option disabled *ngIf="sailingLicenses.length === 0">
                            {{ 'There are no sailing licences'  | translate }}
                        </option>
                    </select>
                    <div *ngIf="formControls['sailingLicense'].invalid && (formControls['sailingLicense'].dirty || formControls['sailingLicense'].touched)">
                        <div *ngIf="formControls['sailingLicense'].errors?.['required']">
                            <label class="error-message"> {{'This field is required' | translate}} </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="email" class="register-form-label">{{ 'Email' | translate }}</label>
                    <input type="email" class="form-control" id="email" autocomplete="email" required formControlName="email">
                    <div *ngIf="formControls['email'].invalid && (formControls['email'].dirty || formControls['email'].touched)">
                        <div *ngIf="formControls['email'].errors?.['required']">
                            <label class="error-message"> {{'This field is required' | translate}} </label>
                        </div>
                        <div *ngIf="formControls['email'].errors?.['email']">
                            <label class="error-message"> {{'Invalid email format' | translate}} </label>
                        </div>
                        <div *ngIf="formControls['email'].errors?.['repeatedEmail']">
                            <label class="error-message"> {{'Email already in use' | translate}} </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="password" class="register-form-label">{{ 'Password' | translate }}</label>
                    <input type="password" class="form-control" id="password" autocomplete="new-password" required formControlName="password">
                    <div *ngIf="formControls['password'].invalid && (formControls['password'].dirty || formControls['password'].touched)">
                        <div *ngIf="formControls['password'].errors?.['required']">
                            <label class="error-message"> {{'This field is required' | translate}} </label>
                        </div>
                        <div *ngIf="formControls['password'].errors?.['pattern']">
                            <label class="error-message"> {{'Password should contain at least: 8 characters, one uppercase letter, one lowercase letter, one number and one of the following special characters: @$!%*?&' | translate }} </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="repeatPassword" class="register-form-label">{{ 'Repeat password' | translate }}</label>
                    <input type="password" class="form-control" id="repeatPassword" autocomplete="new-password" required formControlName="repeatPassword">
                    <div *ngIf="formControls['repeatPassword'].invalid && (formControls['repeatPassword'].dirty || formControls['repeatPassword'].touched)">
                        <div *ngIf="formControls['repeatPassword'].errors?.['required']">
                            <label class="error-message"> {{'This field is required' | translate}} </label>
                        </div>
                        <div *ngIf="formControls['repeatPassword'].errors?.['wrongRepeatPassword']">
                            <label class="error-message"> {{'Passwords are different' | translate}} </label>
                        </div>
                    </div>
                </div>
                <div class="form-buttons">
                    <button type="submit" [disabled]="registerForm.invalid || loading" class="btn sail-primary-button btn-md form-button">{{ 'Sign up' | translate }}</button>
                </div>
                <div class="form-link">
                    <p class="register-form-text"> {{'Do you already have an account?' | translate }}</p>
                    <a class="register-form-link" [routerLink]="['/auth/login']"> {{'Sign in' | translate}}</a>
                </div>
            </form>
        </div>
    </div>
</div>