<div class="change-password">
    <div class="change-password-background-image"></div>
    <div class="change-password-page">
        <div class="change-password-subheader">
            <i class="bi bi-arrow-left-circle-fill subheader-icon" (click)="location.back()"></i>
            <p class="my-subheader">
                {{ 'Change password' | translate }}
            </p>
        </div>
        <div class="change-password-container">
            <form class="change-password-form" [formGroup]="changePasswordForm" (submit)="changePassword()">
                <div class="form-row">
                    <label for="oldPassword" class="change-password-form-label">{{ 'Old password' | translate }}</label>
                    <input maxlength="255" type="password" class="form-control" id="oldPassword" autocomplete="current-password" required formControlName="oldPassword">
                    <div *ngIf="formControls['oldPassword'].invalid && (formControls['oldPassword'].dirty || formControls['oldPassword'].touched)">
                        <div *ngIf="formControls['oldPassword'].errors?.['required']">
                            <label class="error-message"> {{'This field is required' | translate}} </label>
                        </div>
                        <div *ngIf="formControls['oldPassword'].errors?.['wrongOldPassword']">
                            <label class="error-message"> {{'Incorrect old password' | translate}} </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="newPassword" class="change-password-form-label">{{ 'New password' | translate }}</label>
                    <input maxlength="255" type="password" class="form-control" id="newPassword" required formControlName="newPassword">
                    <div *ngIf="formControls['newPassword'].invalid && (formControls['newPassword'].dirty || formControls['newPassword'].touched)">
                        <div *ngIf="formControls['newPassword'].errors?.['required']">
                            <label class="error-message"> {{'This field is required' | translate}} </label>
                        </div>
                        <div *ngIf="formControls['newPassword'].errors?.['pattern']">
                            <label class="error-message"> {{'Password should contain at least: 8 characters, one uppercase letter, one lowercase letter, one number and one of the following special characters: @$!%*?&' | translate }} </label>
                        </div>
                        <div *ngIf="formControls['newPassword'].errors?.['wrongNewPassword']">
                            <label class="error-message"> {{'New password is the same as the old one' | translate}} </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <label for="repeatNewPassword" class="change-password-form-label">{{ 'Repeat new password' | translate }}</label>
                    <input maxlength="255" type="password" class="form-control" id="repeatNewPassword" required formControlName="repeatNewPassword">
                    <div *ngIf="formControls['repeatNewPassword'].invalid && (formControls['repeatNewPassword'].dirty || formControls['repeatNewPassword'].touched)">
                        <div *ngIf="formControls['repeatNewPassword'].errors?.['required']">
                            <label class="error-message"> {{'This field is required' | translate}} </label>
                        </div>
                        <div *ngIf="formControls['repeatNewPassword'].errors?.['wrongRepeatPassword']">
                            <label class="error-message"> {{'Passwords are different' | translate}} </label>
                        </div>
                    </div>
                </div>
                <div class="form-buttons">
                    <button type="submit" [disabled]="changePasswordForm.invalid || loading" class="btn sail-primary-button btn-md form-button">{{ 'Change password' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>