<div class="record" (clickEvent)="handleClick(record?.id)" clickEmitter>
    <div class="record-pic">
        <img [src]="record?.photo">
    </div>
    <div class="record-content">
        <div class="record-header">
            <div class="record-name">
                {{record?.name ?? 'none' | translate}}
            </div>
        </div>
        <div style="display: flex; justify-content: space-between; gap: 50px;">
            <div class="record-main">
                <div class="record-type">{{"Type:" | translate }}
                    <span class="record-value">
                        {{record?.type?.name ?? 'none' | translate}}
                    </span>
                </div>
                <div class="record-registration">{{"Registration number:" | translate }}
                    <span class="record-value">
                        {{record?.registrationNumber ?? 'none' | translate}}
                    </span>
                </div>
                <div class="record-status">{{"Current status:" | translate }}
                    <span class="record-value"
                    [class.available]="record?.currentStatus?.name === 'AVAILABLE'"
                    [class.reserved]="record?.currentStatus?.name === 'RESERVED_LONG_TERM'"
                    [class.in-repair]="record?.currentStatus?.name === 'IN_REPAIR'"
                    [class.malfunction]="record?.currentStatus?.name === 'MALFUNCTION'"
                    [class.in-use]="record?.currentStatus?.name === 'IN_USE'"
                    >
                        {{record?.currentStatus?.name ?? 'none' | translate}}
                    </span>
                </div>
            </div>
            <div class="record-main">
                <div class="record-cabinNum">{{"Cabin number:" | translate }}
                    <span class="record-value">
                        {{ record?.cabinNum ?? '-' }}
                    </span>
                </div>
                <div class="record-cabinNum">{{"Max. people:" | translate }}
                    <span class="record-value">
                        {{ record?.peopleNum ?? '-' }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>